*{
    background-color: #242B2E;
    font-family: consolas;
    
  }

h1{
 /* color: black; */
 -webkit-text-stroke: 1px black;
 color: white;
 text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
p{
    text-align: middle;
    font-size: 26px;
    font-family: trebuchet bold;
    font-style: bold;
    
}

.hide{
    display: none;
    
}
img{
    
    border-radius: 5%;
    max-width: 50%;
    display:flex;
    align-items:center;
    
}
.desc {
    font-family: "trebuchet MS";
    color: ivory; 
    font-size: 16pt;
    text-align: justify;  
    line-height: 28px;  
    padding: 10px;
    margin-top: 10px;
    }
.show{
    display: block;
    image-resolution: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}
.drinklist{
    display:flex;
    align-items:center;
    justify-content: center;
    /* height:50px;*/
    width: 100%;
    outline: rgb(239, 231, 231); 
    color: antiquewhite;
    font-size: 20pt;
    
    
}

.drinkButton {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    
    
    
    /* margin: auto; */
    text-align: center;
    display: inline-block !important;
    
    border: none; 
    width: 100%;
    
    border-radius: 15px; 
    margin:1rem;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    text-align: center;

    
}

.drinkButton:hover {
     
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.2s;
      
}

.ingrd{
    display: flex;
    flex-direction: row ;
    font-size: 50px;
    
}
.ing{
    
    font-size: 17pt;
}
.desc{
    font-family: trebuchet bold;
    font-size: 30px;
    
    
}
.drinks1{
    margin-left: 10%;
    margin-right: 10%;
    outline: #255784;
}
.card{
    display: none;
    color: #242B2E;
}





.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    width: 100%;
    text-align: center;
    font-size: 50px;
   
    
  }
  

.border.show{
    box-shadow: #0fa;
}